<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="{{ page.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  {# Google fonts:Indie Flower  #}
  <link href="https://fonts.googleapis.com/css?family=Lobster+Two|Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="{{ base_url() }}/libs/bootstrap-3.3/css/bootstrap.css">
  <script src="https://unpkg.com/vue"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
  <script src="{{ base_url() }}/libs/jquery-3.1/jquery-3.1.1.min.js"></script>
  <script src="{{ base_url() }}/libs/bootstrap-3.3/js/bootstrap.js"></script>
</head>
<body>
<div class="container">
  {% include 'vue/partials/header1.twig' %}
  {% block content %} {% endblock %}
  {% include 'vue/partials/footer1.twig' %}
</div>
</body>
</html>